.container {
  font-size: 16px;
}
@media (max-width: 480px) {
  .container {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .container {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .container {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .container {
    font-size: 18px;
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1B262C;
  color: rgba(249, 248, 255, 0.5);
}

a {
  text-decoration: none;
  color: #F9F8FF;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #7971E9;
}

h1 {
  color: #F9F8FF;
  font-size: 3.5rem;
  font-weight: 500;
  width: 40%;
}

h2 {
  color: #F9F8FF;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h3 {
  color: #F9F8FF;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 2rem;
}

h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3rem; /* Width of the bar */
  height: 120%; /* Full height of the h3 */
  background-color: #7971E9; /* Bar color, adjust as needed */
}

h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

p {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  h1 {
    width: 80%;
    font-weight: 700;
  }
  h2 {
    font-weight: 600;
  }
}
.pad__section {
  padding: 0 8rem;
}

@media (max-width: 1024px) {
  .pad__section {
    padding: 0 4rem;
  }
}
@media (max-width: 768px) {
  .pad__section {
    padding: 0 2rem;
  }
}
@media (max-width: 480px) {
  .pad__section {
    padding: 0 1rem;
  }
}
.btn {
  height: 3.5rem;
  width: 10rem;
  border: 0.1rem solid #7971E9;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn__solid {
  background-color: #7971E9;
  color: #F9F8FF;
}
.btn__solid:hover {
  background-color: #F9F8FF;
  color: #7971E9;
}
.btn__outline {
  background-color: transparent;
  color: #7971E9;
}
.btn__outline:hover {
  background-color: #7971E9;
  color: #F9F8FF;
}
.btn__large {
  height: 4.5rem;
  width: 20rem;
}
.btn__link {
  display: inline-block;
  color: #7971E9;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.btn__link span {
  font-weight: 800;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.btn__link:hover {
  color: #F9F8FF;
}

.brands__container {
  background-color: #293942;
  min-height: 15rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 3rem 0;
}
.brands__logo {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.featured__container {
  min-height: 70vh;
  box-shadow: inset 0rem 4rem 8rem rgba(0, 0, 0, 0.15); /* Apply inner shadow */
  padding-top: 5rem;
  padding-bottom: 4rem;
  display: flex;
  gap: 7rem;
  align-items: center;
}
.featured__banner {
  width: 60rem;
  height: auto;
}
.featured__banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .featured__container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .featured__banner {
    width: 80%;
  }
}
.hero__container {
  background: url(../assets/hero_banner.webp) no-repeat;
  background-position: bottom right;
  background-size: cover;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.hero__store {
  cursor: pointer;
}
.hero__store-btn {
  width: auto;
  height: 4rem;
  max-width: 100%; /* Ensures images are responsive */
  object-fit: contain; /* Ensures the image fits within the container without distortion */
}

@media (max-width: 768px) {
  .hero__container {
    align-items: center;
    text-align: center;
  }
}
.nav__container {
  height: 8rem;
  background-color: #293942;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__btn {
  font-size: 1.5rem;
  color: #F9F8FF;
  line-height: 8rem;
  margin-right: 4rem;
  cursor: pointer;
  display: none;
}
.nav__btn i {
  transition: color 0.2s ease-in-out;
}
.nav__btn i:hover {
  color: #7971E9;
}
.nav__logo {
  font-family: "Limelight", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 8rem;
  letter-spacing: 0.1rem;
}
.nav__menu {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.nav__list {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav__btns {
  display: flex;
  gap: 1rem;
}
.nav__fixed {
  position: sticky;
  width: 100%;
  top: 0;
}

#nav__ham {
  display: none;
}

@media (max-width: 1024px) {
  .nav__btn {
    display: block;
  }
  .nav__menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #111111;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.9s;
    z-index: 100;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav__btns {
    flex-direction: column;
  }
  #nav__ham:checked ~ .nav__menu {
    left: 0;
    position: fixed;
  }
}
.playlist__container {
  min-height: 70vh;
  padding-top: 5rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  align-items: center;
  box-shadow: inset 0rem 4rem 8rem rgba(0, 0, 0, 0.15); /* Apply inner shadow */
}
.playlist__images {
  display: flex;
  gap: 4rem;
}
.playlist__image {
  height: 50rem;
  width: auto;
}
.playlist__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .playlist__container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
  }
}
.why__container {
  min-height: 70vh;
  padding-top: 5rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0rem 4rem 8rem rgba(0, 0, 0, 0.15); /* Apply inner shadow */
}
.why__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .why__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    margin-top: 2rem;
  }
}
.footer__main {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #293942;
  min-height: 50vh;
}
.footer__about {
  font-size: 1.4rem;
}
.footer__links-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.5rem;
  margin-top: 2rem;
}
.footer__links ul {
  list-style: none;
  font-size: 1.5rem;
}
.footer__links li {
  margin-bottom: 1rem;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .footer__main {
    flex-direction: column;
    align-items: center;
  }
  .footer__links-container {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2.5rem;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
