@mixin flex($justify, $items) {
    display: flex;
    justify-content: $justify;
    align-items: $items;
}

//Used in _typography.scss
@mixin fontSetting($color,$fontFamily,$fontSize,$fontStyle,$fontWeight,$lineHeight) {
    color: $color;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}