$color-black: #000;
$color-light-black: #222;
$color-white: #fff;
$color-primary-1: #420516;
$color-primary-2: #7d1935;
$color-primary-3: #b42b51;
$color-primary-4: #d70d46;
$color-primary-5: #f2a4ba;
$color-primary-6: #e63e6d;
$color-primary-7: #1f020a;

$color-secondary-1: #1F020A;
$color-secondary-2: #F6789B;