.faq {
  min-height: 50rem;
  padding: 10rem 0;
  @include flex(space-around,center);
  flex-direction: column;

  &__container {
    background: $color-black;
    color: $color-white;
    padding: 2rem;
    width: 75%;
    margin: 5rem 0;
    border-radius: 1.5rem;

    & hr {
        border-color: $color-primary-4;
    }

    & details {
        margin: 1rem;   

        &[open] summary{
          background: $color-light-black;
          padding: 1.5rem;
        }
    }

    & summary {
      font-family: $font-source-sans-3;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      cursor: pointer;
      padding: 2rem;

      &::marker {
        color: $color-primary-4;
      }

    }

    & p {
        font-family: $font-source-sans-3;
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.5rem;; 
        margin-top: 2rem;

        padding: 0 2rem;
    }
  }
}

@media (max-width: 652px) {
  .faq {
    &__container {
      padding: .5rem;
    }

    & summary {
      font-size: 1.5rem;
     }

    & p {
      font-size: 1.3rem;
    }
  }
}
