.premium {
  min-height: 50rem;
  padding: 10rem 0;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 13rem;
  }

  &__card {
    width: 30rem;
    height: 30rem;
    background: $color-black;
    position: relative;
    border-radius: 1rem;
    border: 2px solid $color-primary-2;
    background: linear-gradient(
      332deg,
      #26060f -0.71%,
      #3d111e 58.66%,
      #e63e6d 157.8%
    );

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    justify-content: space-around;

    &-list {
      color: $color-primary-4;
      font-family: "Source Sans 3", sans-serif;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-left: 2rem;
    }

    &-tag {
      background: $color-black;
      color: $color-primary-3;
      font-family: "Source Sans 3", sans-serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-radius: 1rem 0rem 1rem 0rem;
      border-right: 2px solid $color-primary-2;
      border-bottom: 2px solid $color-primary-2;
      background: $color-black;
      position: absolute;
      top: 0;
      left: 0;
      padding: .5rem;
    }
  }
}

@media (max-width: 952px) {
  .premium {
    &__card {
      height: 25rem;
      width: 25rem;

      &-list {
        font-size: 1.5rem;
      }

      &-tag {
        font-size: 1.2rem;
      }
    }  
  }
}

@media (max-width: 782px) {
  .premium{
    &__container{
    flex-direction: column;
    margin-top: 8rem;
    }

    &__card {
      height: 30rem;
      width: 30rem;
      margin-bottom: 2rem;

      &-list {
        font-size: 1.6rem;
      }

      &-tag {
        font-size: 1.4rem;
      }
    } 
  } 
}
