.btn {
  color: $color-white;
  border-radius: 2rem;

  &__hero {
    width: 15rem;
    height: 4.4rem;
    border: none;

    font-family: $font-source-sans-3;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &-1 {
      background: linear-gradient(
        103deg,
        #1f020a -33.77%,
        $color-primary-6 106.92%
      );
      transition: 0.5s ease-in-out;

      &:hover {
        color: $color-primary-1;
        background: $color-white;
      }
    }

    &-2 {
      background: linear-gradient(
        267deg,
        $color-primary-6 -21.43%,
        rgba($color-black, 0) 295.3%
      );
      transition: 0.5s ease-in-out;

      &:hover {
        color: $color-primary-1;
        background: $color-white;
      }
    }
  }

  &__premium {
    width: 20rem;
    height: 4.8rem;
    background: $color-black;
    border: 0.2rem solid $color-primary-4;
    // border-radius: 20px;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 2rem;
    transition: .5s ease-in;

    &:hover {
      color: $color-primary-1;
      background: $color-white;
    }
  }
}

@media (max-width: 952px) {
  .btn {
    &__hero {
      width: 12rem;
      height: 3.4rem;
      font-size: 1.2rem;
    }
    &__premium { 
      width: 15rem;
      height: 3.8rem;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 782px) {

  .btn {
    &__premium { 
      width: 20rem;
      height: 4.8rem;
      font-size: 1.3rem;
    }
  }
}
