/* 
    Fonts : 
    
        font-family: 'Montserrat', sans-serif;
    
        font-family: 'Pacifico', cursive;
    
        font-family: 'Source Sans 3', sans-serif;
     */

.header {
  &_1 {
    @include fontSetting($color-white,$font-montserrat,4rem,normal,700,normal);
  }

  &_1-sub {
    @include fontSetting($color-primary-3,$font-source-sans-3,3.2rem,normal,400,normal);
  }

  &_2 {
    text-align: center;
    @include fontSetting($color-white,$font-montserrat,3.6rem,normal,700,normal);
  }

  &_3 {
    @include fontSetting($color-secondary-2,$font-source-sans-3,3.2rem,normal,700,normal);
  }
}

@media (max-width: 952px) {
  .header {
    &_1 {
      font-size: 3.5rem;
    }

    &_1-sub {
      font-size: 2.8rem;
    }

    &_2 {
      font-size: 3.2rem;
    }

    &_3 {
      font-size: 2.8rem;
    }
  }
}

@media (max-width: 652px) {
  .header {
    &_1 {
      font-size: 3rem;
    }

    &_1-sub {
      font-size: 2.5rem;
    }

    &_2 {
      font-size: 2.8rem;
    }

    &_3 {
      font-size: 2.5rem;
    }
  }
}
