@use '../abstracts/mixins' as *;

.why {
    &__container {
        min-height: 70vh;
        padding-top: 5rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: inset 0rem 4rem 8rem rgba(0, 0, 0, 0.15); /* Apply inner shadow */
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        margin-top: 2rem;
    }
}

@include respond-to(tablet) {
    .why {
        &__grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 5rem;
            margin-top: 2rem;
        } 
    }
}