$color-gunmetal: #1B262C;
$color-charcoal-navy : #293942;
$color-lavender-mist-100: #F9F8FF; 
$color-lavender-mist-50: rgba(249, 248, 255, 0.5); 
$color-lavender-indigo : #7971E9;
$color-black: #111111;


$font: "Montserrat", sans-serif;
$font-logo: "Limelight", sans-serif;